.hero-container{
  display: flex;
  flex-direction: row;
  color: #fff;
  height: 90vh;
  width: 80%;
  max-width: 1200px;
  justify-content: space-between;
  align-items: center;
}
.buttons{
  display: flex;
  align-items: center;
  margin-top: 12px;
}
.hero-h3{
  line-height: 30px;
  font-size: 24px;
  font-weight: 300;
}
.hero-h1{
  line-height: 75px;
  font-size: 68px;
  margin-bottom: 6px;
}
.hero-img{
  height: 480px;
  position: relative;
  top: -82px;
  right: 30px;
}
.btn-hero{
  height: 54px;
  padding-left: 24px;
  cursor: pointer;
}
.img-container{
  position: relative;
  bottom: 20px;
}
.img-border{
  position: relative;
  top: 60px;
  height: 400px;
  width: 380px;
  display: flex;
  border: 1px solid rgba(231,0,255,1);
  z-index: 100;
  border-radius: 10px;
}
